@import url('reset.css');

body {
  background-color: #ededed;

  font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}

.page-logo {
  float: left;
  margin-right: 39px;

  margin-top: 10px;
}

.nav-item:first-child:hover {
  border-bottom: 2px solid #6cb768;
}

.nav-item:nth-child(2):hover {
  border-bottom: 2px solid #f0a84f;
}
