@import url('reset.css');

body {
  background-color: #ededed;

  font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}

.page-logo {
  float: left;
  margin-right: 39px;

  margin-top: 10px;
}
