@import url('reset.css');

body {
  background-color: #ededed;

  color: #444;
  font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}

.page-logo {
  display: inline-block;

  margin-top: 10px;
}
